* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: aliceblue;
}

.color-picker {
  width: 90vw;
  margin: 5rem auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form label {
  font-size: x-large;
  margin: 1rem;
  font-weight: 600;
}
form input {
  border: 0;
  outline: none;
  font-size: x-large;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem;
}
form button {
  margin: 0;
  font-size: x-large;
  border-radius: 0.25rem;
  background-color: rgb(80, 164, 233);
  outline: none;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
}
.error {
  border: 2px solid red;
}
.color-light {
  color: white;
}
.colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 26vw;
  height: 200px;
}

@media (max-width: 900px) {
  article {
    height: 150px;
  }
}
@media (max-width: 350px) {
  form input {
    font-size: 20px;
  }
  form label {
    font-size: 20px;
  }
  form button {
    font-size: 20px;
  }
  article {
    height: 100px;
  }
}
